<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<header th:insert="navigationBar/navigationBar.html :: header"></header>
<h2 th:text="${book.title}"></h2>
<div th:text="${book.authors}"></div>
<picture>
    <img th:src="${book.thumbnail}" >
</picture>
<div th:text="${book.description}"></div>
<h3> Osoby, które posiadają tę książkę </h3>
<tr th:each="owner : ${owners}">
    <div th:text="${owner.email}"></div>
    <form th:action="${'/sendRequest'}" method="post">
        <input type="hidden" name="receiverBookId" th:value="${book.id}">
        <input type="hidden" name="receiverId" th:value="${owner.id}">
        <button type="submit"> "Zaproponuj wymianę"</button>
    </form>
</tr>
</body>
</html>