<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body class="py-5">
<header th:insert="navigationBar/navigationBar.html :: header"></header>
<div class=" w-50 mx-auto">
    <form action="/register" method="post" th:object="${userRequest}">
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" th:field="*{email}" placeholder="name@example.com">
            <div class="text-secondary" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email></div>
            <div class="text-secondary" th:if="${messageEmail!=''}" th:text="${messageEmail}"></div>
        </div>
        <div class="form-group">
            <label>Firstname</label>
            <input class="form-control" type="text" th:field="*{firstName}"/>
            <div class="text-secondary" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName>
            </div>
        </div>
        <div class="form-group">
            <label>Secondname</label>
            <input class="form-control" type="text" th:field="*{lastName}">
            <div class="text-secondary" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName></div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" th:field="*{password}">
            <div class="text-secondary" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password></div>
            <div class="text-secondary" th:if="${messagePassword!=''}" th:text="${messagePassword}"></div>
        </div>
        <button class=" m-2 btn btn-outline-success btn " type="submit"> Sign up</button>

    </form>
</div>
</body>
</html>