<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Sender Book Shelf</title>
</head>
<body>
<header th:insert="navigationBar/navigationBar.html :: header"></header>
<tr th:each="book : ${books}">
    <td>
        <div th:text="${book.title}"> Title</div>
    </td>
    <td>
        <div th:text="${book.authors}"> Author</div>
    </td>
    <td>
        <a th:href="${'/book?id=' + book.id}">
            <img th:src="${book.thumbnail}">
        </a>
    </td>
    <form th:action="${'/chooseSenderBook'}" method="post">
        <input type="hidden" name="exchangeId" th:value="${exchangeId}">
        <input type="hidden" name="senderBookId" th:value="${book.id}">
        <button type="submit"> "Wybierz"</button>
    </form>

</tr>

</body>
</html>