<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NaviBar</title>
</head>
<body>
<div th:fragment="header">
    <div sec:authorize="isAuthenticated()">
        <header th:insert="navigationBar/authenticated.html :: header"></header>
    </div>

    <div sec:authorize="isAnonymous()">
        <header th:insert="navigationBar/anonymous.html :: header"></header>
    </div>

    <link rel="stylesheet"
          href="C:\Users\maciek\OneDrive\Dokumenty\Repos\library\library\src\main\resources\templates\css\bootstrap.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</div>
</body>
</html>